//@mixin font($font_name, $file_name, $weight, $style) {
//  @font-face {
//  font-family: $font_name;
//  font-display: swap;
 // src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//  font-weight: #{$weight};
//  font-style: #{$style};
//  }
//};

@import "null.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,600,700,);

body {
  font-family: 'Lato';
  height: 100%;
}

.wrapper {
  overflow: hidden;
  margin: 0px auto;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1350px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
}

@import "header.scss";
@import "blockbig.scss";
@import "text_block.scss";
@import "lethear.scss";
@import "blockpopup.scss";
@import "footer.scss";

